#content{
    max-width: 1600px;
    margin: 0 auto;
}
body{
    background-color: #fff;
}

header{
    background-color: #619b8a;
}
header img{
    width: 150px;
}
.nav a{
    text-align: center;
}
.nav a:hover{
    background-color: #a1c181;
}

#hero-msg h1{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
    background-color: #619b8a;
}